<div class="row header">
	<div class="col-md-2">
		<img class="pic" src="http://i296.photobucket.com/albums/mm181/Wilson_Parrish/jslogo_zpslbfuyq6z.png?1443816642910&1443816643306" alt="">
		<br>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-7" watch>
		<h1>Developer>Leader> WilsonParrish<span ng-show="blink">_</span></h1>
		<p>javascript, html, css, angular, nodejs, express, mongodb, reactjs, bootstrap, materialize... and spanish</p>
	</div>
	<div class="col-md-2">
		<img class="pic" src="http://i296.photobucket.com/albums/mm181/Wilson_Parrish/profpic_zpsbek7jylp.jpg?t=1443730300" alt="">
		<br>
		&nbsp<span>wilsonparrishmk2@gmail.com</span>
	</div>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2>A few of my projects</h2></div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<!--<div class="col-md-1"></div>-->
	<div class="col-md-4 showcase">
		<h2>Share Heart 2 Heart</h2>
		<a href="http://shareheart2heart.herokuapp.com/">
			<img class="screenshot" src="http://i296.photobucket.com/albums/mm181/Wilson_Parrish/nicupreview_zpslvljbdda.png?t=1443730299" alt="">
		</a>
		<p>(coming soon)</p>
	</div>
	<!--<div class="col-md-2"></div>-->
	<div class="col-md-4 showcase">
		<h2>Chubbuck Lions Club</h2>
		<a href="http://chubbucklionsclub.herokuapp.com/">
			<img class="screenshot" src="http://i296.photobucket.com/albums/mm181/Wilson_Parrish/chubbucklions_zpsepynvtbi.png?1443816642910&1443816643305" alt="">
		</a>
		<p></p>
	</div>
	<!--<div class="col-md-2"></div>-->
	<div class="col-md-4 showcase">
		<h2>BlackJack</h2>
		<p>I made this using the <a href="deckofcardsapi.com">'deckofcards'</a> api, javascript with angular, knock yourself out!</p>
		<a ui-sref="home.blackjack">-->PLAY SOME BLACKJACK<--</a>
	</div>
	<!--<div class="col-md-1"></div>-->
	<div class="col-md-12" id="homeUIView" ui-view></div>
</div>