<div class="row header">
	<div class="col-md-2"></div>
	<div class="col-md-8" watch>
		<h1>Developer>Leader> WilsonParrish<span ng-show="blink">_</span></h1>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"><h2>A few of my projects</h2></div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<!--<div class="col-md-1"></div>-->
	<div class="col-md-4 showcase">
		<h2>share heart 2 heart</h2></div>
	<!--<div class="col-md-2"></div>-->
	<div class="col-md-4 showcase">
		<h2>chubbuck lions club</h2></div>
	<!--<div class="col-md-2"></div>-->
	<div class="col-md-4 showcase">
		<h2>BlackJack</h2>
		<p>I made this using the <a href="deckofcardsapi.com">'deckofcards'</a> api in about 8 hours one night. It's made from javascript within the angular framework. Knock yourself out.</p>
		<a ui-sref="home.blackjack">-->PLAY SOME BLACKJACK DUDE<--</a>
	</div>
	<!--<div class="col-md-1"></div>-->
	<div class="col-md-12" id="homeUIView" ui-view></div>
</div>