<div class="row header">
	<div class="col-md-2">
		<img class="pic" src="./assets/images/jslogo.png" alt="">
		<br>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-7" watch>
		<h1>Developer>Leader> WilsonParrish<span ng-show="blink">_</span></h1>
		<p>javascript, html, css, angular, nodejs, express, mongodb, reactjs, bootstrap, materialize... and spanish</p>
	</div>
	<div class="col-md-2">
		<img class="pic" src="./assets/images/profpic.jpg" alt="">
		<br>
		<span>  wilsonparrishmk2@gmail.com</span>
	</div>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2>A few of my projects</h2></div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<!--<div class="col-md-1"></div>-->
	<div class="col-md-4 showcase">
		<h2>Share Heart 2 Heart</h2>
		<a href="">
			<img class="screenshot" src="./assets/images/nicupreview.png" alt="">
		</a>
		<p></p>
	</div>
	<!--<div class="col-md-2"></div>-->
	<div class="col-md-4 showcase">
		<h2>Chubbuck Lions Club</h2>
		<a href="">
			<img class="screenshot" src="./assets/images/chubbucklions.png" alt="">
		</a>
		<p></p>
	</div>
	<!--<div class="col-md-2"></div>-->
	<div class="col-md-4 showcase">
		<h2>BlackJack</h2>
		<p>I made this using the <a href="deckofcardsapi.com">'deckofcards'</a> api in about 8 hours one night. It's made from javascript
			within the angular framework. Knock yourself out.</p>
		<a ui-sref="home.blackjack">-->PLAY SOME BLACKJACK DUDE<--</a>
	</div>
	<!--<div class="col-md-1"></div>-->
	<div class="col-md-12" id="homeUIView" ui-view></div>
</div>