/** {
	border: 1px dashed red;
}*/

#view {
	height: 700px;
	width: 95%;
	margin: 0 auto;
	/*background-color: darkgreen;*/
	background-color: #eee;
	/*color: #eee;*/
	font-weight: bold;
	border-radius: 10px;
	color: #000;
}

#piles {
	display: flex;
	flex-direction: column;
}

#piles p,
#piles div {
	display: flex;
	justify-content: center;
}

#discardPile {
}

#deck {
}

#WPlogo {
}

button {
	font-weight: bold;
}

/*.buttonHighlight{
	padding: 3px;
	background-color: yellow;
}*/

#house,
#player {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#house img,
#player img {
	display: inline;
	height: 150px;
	width: 107.778px; 
	margin-top: 10px;;
}